/OctoCat/src/octocat/Szo.java @aoekatalin 
/OctoCat/src/octocat/DB.java @Marsal99
/OctoCat/src/octocat/panel @mt-andrea
/OctoCat/src/octocat/FXMLDocument.fxml @Sudi0005
/OctoCat/src/octocat/OctoCat.java @balnatalp
/OctoCat/src/octocat/FXMLDocumentController.java @Kjani141
